<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.mjcbrothers.dronetoyou.member.MemberMapper">
	<insert id="join" parameterType="com.mjcbrothers.dronetoyou.member.Member">
		insert into dronetou_member values(#{dm_id}, #{dm_pw}, #{dm_name}, #{dm_phone}, #{dm_birthday}, #{dm_email}, #{dm_photo})
	</insert>
	<select id="getMemberByID"
		parameterType="com.mjcbrothers.dronetoyou.member.Member"
		resultType="com.mjcbrothers.dronetoyou.member.Member">
		select * from dronetou_member where dm_id = #{dm_id}
	</select>
	<update id="update" parameterType="com.mjcbrothers.dronetoyou.member.Member">
		update dronetou_MEMBER set dm_pw=#{dm_pw}, dm_name=#{dm_name}, dm_phone=#{dm_phone}, dm_email=#{dm_email}, dm_photo=#{dm_photo} where dm_id=#{dm_id}
	</update>
	<delete id="bye" parameterType="com.mjcbrothers.dronetoyou.member.Member">
		delete from dronetou_MEMBER where dm_id = #{dm_id}
	</delete>
</mapper>